<ion-view view-title="Chats">
  <ion-content>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

    <div class="testbox">
      <h1>Registration</h1>

      <form action="/">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" placeholder="SSO" ng-model="sso">
          </label>
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" placeholder="Full Name" ng-model="fname">
          </label>
          <label class="item item-input">
            <i class="icon ion-key placeholder-icon"></i>
            <input type="password" placeholder="Password" ng-model="password">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Register</button>
          </label>
          <div id="x"></div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
