<ion-view title="Home" ng-controller="submitVitalsCtrl as v">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-submit="sendBP(data)">
            <label class="item item-input" name="name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Name" ng-model="v.name">
            </label>
            <label class="item item-input" name="amount">
                <span class="input-label">Loan amount</span>
                <input type="text" placeholder="Amount" ng-model="v.amount">
            </label>
        </form>
        <button id="submitVitals-button1" style="font-weight:bold;" class="button button-calm  button-block icon ion-android-share" ng-click="v.submitVitals()">Submit</button>
        <p>Status: {{status}}</p>
    </ion-content>
</ion-view>