<ion-view title="" id="welcome-view" hide-nav-bar="true">
    <ion-content>
        <div  class="logo-welcome"></div>
        <div class="login-btns">
            <div id="social-links">
                <ul>
                    <li ng-click="fbLogin()"><span class="ifacebook"><img src="img/social-icons/facebook.png"></span><a href="#" class="afacebook">sign in with facebook</a></li>
                    <li ng-click="gplusLogin()"><span class="igoogleplus"><img src="img/social-icons/googleplus.png"></span><a href="#" class="agoogleplus">sign in with google+</a></li>
                </ul>

    </ion-content>
</ion-view>